.row-fluid.leaderboard
  .span12 
    .span2
    .span8.my-container
      .leader-info
        =will_paginate @leaders
        -#@leaders.each do |leader|
          .user
            .name
              =leader.name
            .remaining
              ="#{leader.time_left} weeks left"
          %br
    .span2
