.row-fluid
  .my-container.span12.profile
    %h2 Prisoner information sheet 493020-20D
    .span12
      .span10.prisoner-info
        .user-image.span3
          =image_tag(@graph.get_picture(@user.uid, :type => "large"))
        .user-stats.span8
          .stat
            Name:
            =@user.name
          .stat
            Cooperated with others: 
            =@user.cooperates
            times
          .stat
            Betrayed against others: 
            =@user.betrays
            times
          .stat
            Was cooperated with : 
            =@user.cooperated_against
            times
          .stat
            Was betrayed against: 
            =@user.betrayed_against
            times
          .stat
            Time spent in prison: 
            =@user.timespent
            weeks
          .stat
            Time left from the sentence: 
            =@user.time_left
            weeks
          .stat
            Progress towards freedom
            .progress.progress-striped.active.limit
              .bar.bar-warning{:style => "width:#{100*(520-(@user.score-@user.timespent))/520}%"}
