.row-fluid
  .my-container.span12.profile
    %h2 Prisoner information sheet 493020-20D
    .span12
      .span10.prisoner-info
        .user-image.span3
          =image_tag(@graph.get_picture(@user.uid, :type => "large"))
        .user-stats.span8
          .stat
            Name:
            =@user.name
          .stat
            Cooperated: 10
          .stat
            Betrayed: 2
          .stat
            Cooperated against: 30
          .stat
            Was betrayed: 40
          .stat
            Time spent in prison: 150 weeks
          .stat
            Time left from the sentence: 
            =@user.score
            weeks
          .stat
            Progress towards freedom
            .progress.progress-striped.active.limit
              .bar.bar-warning{:style => "width:#{100*(520-@user.score)/520}%"}

