.row-fluid
  .my-container.span12.profile
    %h2 Prisoner information sheet 493020-20D
    .span12
      .span10.prisoner-info
        .user-image.span3
          =image_tag(@graph.get_picture(@user.uid, :type => "large"))
        .user-stats.span8
          .stat
            Name:
            =@user.name
          .stat
            Cooperated with others: 
            =pluralize(@user.cooperates, "time")
          .stat
            Betrayed against others: 
            =pluralize(@user.betrays, "time")
          .stat
            Was cooperated with : 
            =pluralize(@user.cooperated_against, "time")
          .stat
            Was betrayed against: 
            =pluralize(@user.betrayed_against, "time")
          .stat
            Time spent in prison: 
            =pluralize(@user.time_spent, "week")
          .stat
            Time left from the sentence: 
            =pluralize(@user.time_left, "week")
          .stat
            Progress towards freedom
            .progress.progress-striped.active.limit
              .bar.bar-warning{:style => "width:#{100*(250-(@user.score-@user.time_spent))/250}%"}

