.row-fluid
  .span2
  .span12
    .my-container.span8
      .game-description
        %b Privacy policy
        %p
          The data we will collect will only be used in academic settings and is anonymized.We do not share your information with any other party.
          You can contact us directly if you have any concerns: our contact information can be found in the 'about' section of the website.
        %b
          Disclaimer
        %p
          This application was developed by a group of MIT students to study social behavior on the facebook graph. This app is not for profit, and we do not own any of the pictures.
          Please contact us if you have any complaints about image rights. 
        %b
          Developers:
        %p 
          Brodrick Childs, Sunny Long and Sam Sinai
        %p
          email: prisoners-dilemma@mit.edu
        
  .span2
