.row-fluid.intro
  .span12
    .span2
    .span8.my-container.welcome
      Prisoner, this is Shoreside Maximum Security Prison were you will spend your five year sentence.  I don't have all day, so I'm gonna say this once.  You and your accomplices will be here for a while, so get used to the place.  Every day you'll be allowed some activities.  Be smart about them and you might get some time off that sentence.  Be stupid, and you'll be seeing my face for longer.
      %br
      %br
      Login to get started.
    .span2  

