<<<<<<< HEAD
=======
%h2 Welcome, Prisoner!
=link_to "Waiting Games", games_path
>>>>>>> 30bd1cead73bc0908e8d962c71f52c723a2945b2

%h1 Welcome, Prisoner!
%p You will never get out of here:)

<button type='submit'> Enter</button>
