-if current_user
  / .summary
  .image
    %img{:alt => "", :src => "assets/jail.png"}/



  =button_to "Enter", stages_path, :method => :get, :class => "btn"
-else
  %h2 Hello?  You there, sign in.





