=form_for(@game) do |f|
  .form-dropdown
    =f.label :Strategy
    =f.select :opp_strat, [true, false]
  .form-text
    =f.label :Opponent
    =f.text_field :user_id
  .form-hidden
    =f.hidden_field :stage_id, :value => @stage
  .form-submit
    =f.submit
