.game-internal

  = image_tag(picture)
  = opponent_name
  %br
  -if current_user.same_parity?(game.opponent) and game.stage.level > 1
    .recent-game-info
      Time left in prison:
      =game.opponent.time_left
      Weeks
      %br
      Betrayed opponents in #{game.opponent.last_five(game.stage.level)}% of their recent games on this level
  .respond
    =link_to "Cooperate", game_respond_path(game, :strategy => false), :method => :put, :class => "game_respond light-link btn btn-success cbutton"
    =link_to "Betray", game_respond_path(game, :strategy => true), :method => :put, :class => "game_respond light-link btn btn-danger cbutton"
