=form_for game, :html => {:class => "create-game"} do |f|
  .form-text
    =f.text_field :user_tokens
.random-request
  =link_to "Challenge random user", random_user_path, :class => "btn random-request"
