%p
  %b Game against #{opponent_name}
%p.opponent
  =opponent_name
  -if game.user_strat 
    betrayed
  -else 
    didn't betray
  you.
%p.user
  Meanwhile, you
  -if game.opp_strat 
    betrayed
  -else
    didn't betray
  =opponent_name
