%h1 Game results
.location
  Game in the #{game.stage.name}
-if user.id == game.user_id
  .current-user-is-user
    .opponent
      =opp_name
      -if game.opp_strat
        betrayed
      -else 
        didn't betray
      you.
    .user
      Meanwhile, you
      -if game.user_strat 
        betrayed
      -else
        didn't betray
      =opp_name
-elsif user.id == game.opp_id
  .current-user-is-opponent
    .opponent
      =user_name
      -if game.user_strat 
        betrayed
      -else 
        didn't betray
      you.
    .user
      Meanwhile, you
      -if game.opp_strat 
        betrayed
      -else
        didn't betray
      =user_name

-if game.level == 1
  .score
    Now try to play some games in other places for time off your sentence!
-else
  .score
    You now have #{user.time_left} weeks left.
