

%h1 Choose where you want to go next

 
-@games.each do |game| 
  =link_to game.id, game
  %ul{:class=>"bxslider"}
    %li
      =link_to image_tag("front1.jpg",:title=>"Kitchen"), game
    %li 
      =link_to image_tag("front1.jpg",:title=>"Cell"), game
    %li 
      =image_tag("front1.jpg",:title=>"Prison Yard")
    %li
      =image_tag("front1.jpg",:title=>"Investigation Office")

.actions
  =link_to "Create game", new_game_path
