%h1
  Game
  =@game.id

.middle_panel
  .invite
    .searchbox
    .live_people
      Opponent:
      =@opponent

  .game_description
    =image_tag("Kitchen.jpg")

  .waiting_games
    .info
      Opponent:
      =@opponent
    .respond
      =link_to "Betray", game_respond_path(@game, :strategy => true), :method => :put
      =link_to "Don't Betray", game_respond_path(@game, :strategy => false), :method => :put
.controls
  =link_to "Back to " + @game.stage.name, @game.stage

