- @stages.each do |stage|
  .stage
    =stage.level
    =stage.name
    =link_to 'Show', stage
    =link_to 'Edit', edit_stage_path(stage)
    =link_to 'Destroy', stage, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stage', new_stage_path
