- @games_and_stages.each do |game_stage|
  .stage
    =link_to "#{game_stage[:stage].name} (#{game_stage[:games]})", game_stage[:stage]

=link_to "Results of your challenges (#{@unseen_count})", game_responses_path

#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      =image_tag("Yard.jpg",:title=>"Prison Yard")
      .container
        .carousel-caption
          %h1 Prison Yard
          %p.lead Its early in the morning and the officers are calling everyone for morning work. 
          %a.btn.btn-large.btn-primary{:href => "#"} Go to work
    .item
      =image_tag("interrogation.jpg",:title=>"Prison Yard")
      .container
        .carousel-caption
          %h1 Interrogation Room
          %p.lead You have been called to the interrogation room, you get a chance to show you are not guilty. Maybe you get to arrange for another court hearing.
          %a.btn.btn-large.btn-primary{:href => "#"} Go to the interrogation room
    .item
      =image_tag("dinning.jpg",:title=>"Prison Yard")
      .container
        .carousel-caption
          %h1 Dinning Hall
          %p.lead After a long day of work, dinner is served.
          %a.btn.btn-large.btn-primary{:href => "#"} Go to the dinning hall
    .item
      =image_tag("prison_cell1.jpg",:title=>"Dirty cell room")
      .container
        .carousel-caption
          %h1 Cell rooms
          %p.lead You are assigned to clean you neighbors cell room.
          %a.btn.btn-large.btn-primary{:href => "#"} Go to the cell
    .item
      =image_tag("Kitchen.jpg",:title=>"Cooking")
      .container
        .carousel-caption
          %h1 Kitchen
          %p.lead Once in a while, you need to help the prison cook to serve food to prisoners.
          %a.btn.btn-large.btn-primary{:href => "#"} Go to the kitchen
    .item
      =image_tag("Kitchen.jpg",:title=>"Sickness")
      .container
        .carousel-caption
          %h1 Hospital
          %p.lead To get off prison duty, you can try to act sick and get admitted to the hospital. You can injure yourself with a piece of glass, but you are going to pretend it was an accident.
          %a.btn.btn-large.btn-primary{:href => "#"} Go to the hospital
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›      
