%p#notice= notice


.middle_panel.row-fluid.span12
  .invite.span4
    =link_to "Create game", new_game_path(:level => @stage.level)
    Challenge a friend:
    =render :partial => "games/new", :locals => {:game => @game, :stage => @stage}
  .game_description.span5
    %p
      %b Level:
      = @stage.level
    %p
      %b Name:
      = @stage.name
    =image_tag("Kitchen.jpg")
  .waiting_games.span3
    Awaiting games go here
    .games
      -@games.each do |game|
        -opponent = User.opponent_name(game.opponent, current_user)
        .game{:id => game.id}
          =render :partial => "games/game", :locals => {:game => game, :opponent => opponent}

= link_to 'Back', stages_path
%br
-# %h1
  -# Game
  -# =@game.id
-# 
-# .middle_panel.row-fluid
  -# .span12
    -# .invite.span3
      -# .searchbox
      -# .live_people
        -# Opponent:
        -# =@opponent
    -# .game_description.span4
-#     
      -# =image_tag("Kitchen.jpg")
    -# .waiting_games.span3
      -# .info
        -# Opponent:
        -# =@opponent
      -# .respond
        -# =link_to "Betray", game_respond_path(@game, :strategy => true), :method => :put
        -# =link_to "Don't Betray", game_respond_path(@game, :strategy => false), :method => :put
-# .controls.row-fluid
  -# =link_to "Back to games", games_path
