jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

window.fbAsyncInit = ->
  FB.init(appId: '<%= FACEBOOK_CONFIG["app_id"] %>', cookie: true)

  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      if response.authResponse
        window.location = '/auth/facebook'
      else
        window.location = '/'

  user_name = $("a.current_user")[0]["innerText"]

  $("#invite_fb_friends").click (e) ->
    event.preventDefault()
    FB.ui({
      method:'apprequests',
      message: user_name + " would like to invite you to try out Prisoner's Dilemma!"
    })
