// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.middle_panel{margin:0 auto;padding-left:50px;min-width:1000px;align:center;}
.invite{width:300px;float:left;}
.game_description{min-width:500px; float:left;}
.waiting_games{min-width:300px;float:left;}
.respond{padding-left:7px;width:200px;float:left;}
.info{width:100px;float:left;}
.controls{width:200px;margin:0 auto;}
